<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Horas Extra</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
  <form th:object="${horaExtra}" th:action="@{/horaextra/} + ${horaExtra.rut}" method="post">
    <div class="form-group">
      <label for="rut">Rut del empleado</label>
      <input autocomplete="off" autofocus th:field="*{rut}" id="rut"
             readonly="readonly" type="text"
             class="form-control">
    </div>
    <br>
    <br>
    <div class="form-group">
      <label >Fecha de horas extras</label>
      <input id="fecha_justificacion" type="date" autofocus th:field="*{fecha}">
    </div>
    <br>
    <br>
    <button class="btn btn-success" type="submit">Crear hora extra</button>
    <a class="btn btn-danger" th:href="@{/}" role="button">Salir</a>
  </form>


</div>
</body>
</html>